#header-wrapper #header #links {
        height: 184px;
        border-top: 1px solid #fff;
        width: 100%;
    }

    #role-page #header-wrapper #header #links { height: auto; border: none;}
    
        #header-wrapper #header #links .buttons {
            margin-top: 60px;
        }

        #role-page #header-wrapper #header #links .buttons { margin-top: 0;}
        
            #header-wrapper #header #links .buttons li {
                float: left;
                list-style-type: none;
                list-style-position: inside;
                display: block;
                margin: 0 8px;
                border: solid 1px transparent;
                position: relative;
                z-index: 1;
            }

            
                        
                #header-wrapper #header #links .buttons li a {
                    display: block;
                    width: 174px;
                    height: 46px;
                    line-height: 46px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 24px;
                    font-family: "Helvetica Neue Bold";
                    background: url(../images/button-arrow.png) center 35px no-repeat;
                }
                
    #header-wrapper #social {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

#header-wrapper #header #links .buttons li:hover{
   border: solid 1px #fff;
}

#header-wrapper #header #links .buttons li { background: transparent;}
 
#header-wrapper #header #links .buttons li:after { 
    content: ""; 
    position:absolute; 
    bottom:0; left:0; 
    width:100%; height:100%; 
    background: #000; 
    z-index:-1; 
    transition: height 0.5s; 
} 

#header-wrapper #header #links .buttons li.bg-blue:after { 
    background-color: #62b3e5; 
} 

#header-wrapper #header #links .buttons li.bg-red:after { 
    background-color: #e56385; 
} 

#header-wrapper #header #links .buttons li.bg-orange:after { 
    background-color: #f78d2d; 
} 

#header-wrapper #header #links .buttons li.bg-green:after { 
    background-color: #6cc04a; 
} 
#header-wrapper #header #links .buttons li.li-back:after { 
    background-color: #e56385; 
}
#header-wrapper #header #links .buttons li:hover:after { height:0; }

#header-wrapper #header #links .buttons li:active{
    background: #000;
    border: solid 4px #fff;
    width: 168px;
   
}
#header-wrapper #header #links .buttons li:active a {
    height: 39px;
    line-height: 39px;
    background-position: center 32px;
    width: 168px;
    margin-left: -2px;
    margin-top: -3px;
}


@media screen and (max-width: 767px) {
    /* Buttons */
    #header-wrapper #header #links .buttons li a {
        width: 140px;
        height: 46px;
        font-size: 19px;
    }

    #header-wrapper #header #links .buttons li:active{ width: 94px;}
    #header-wrapper #header #links .buttons li:active a {
        height: 39px;
        line-height: 39px;
        background-position: center 32px;
        width: 94px;
        margin-left: -2px;
        margin-top: -3px;
    }


}


@media screen and (max-width: 479px) {
    #header-wrapper #header #links .buttons li {
        margin: 0 4px;
    }
    
    #header-wrapper #header #links .buttons li a {
        width: 130px;
        height: 46px;
        font-size: 19px;
    }
}

/* LINKS */

.job a {
    cursor: pointer;
    text-decoration: none;
    color: #6cc04a;
} 
.job a:hover { color: #6cc04a;}

.job a:hover .read-more{ color: #e75f83;}

.read-more {
    cursor: pointer;
}

.read-more:hover { 
    color: #e75f83;
}

.read-more:active { color: #ee91a9; }
