$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$tieto-blue: #62b3e5;
$tieto-red: #e56385;
$tieto-orange: #f78d2d;
$tieto-green: #6cc04a;

.color-blue   { color: $tieto-blue; }
.color-red    { color: $tieto-red; }
.color-orange { color: $tieto-orange; }
.color-green  { color: $tieto-green; }
.bg-black     { background-color: black; }
.bg-blue      { background-color: $tieto-blue; }
.bg-red       { background-color: $tieto-red; }
.bg-orange    { background-color: $tieto-orange; }

.color-invert {
  color:white; 
  background-color:black;
}
.button {
  border: 0px;
  width: 100px;
  height: 30px;
}
.main-div {
  min-height:680px;
  padding-top: 20px;
}
.logo-row {
  /*height: 150px;*/
  padding-top: 60px;
}
.logo-text {
  padding-right: 30 px;
}

.line-row {
  height: 20px;
}
.slider-row {
    height: 310px;
}
.links-row {
    /*height: 100px; */
}
.fb-row {  
    /*height: 50px; */
}
.services {
  color: $tieto-orange;
}

h1 {
  font-size: 112px;
}
h2 {
  font-size: 34px;
}
p {
  font-size: 18px;
}
h6 {
  font-size: 11px;
}
.play {
  font-size: 110px;
}
.font-big {
  font-size: 66px;
}
.font-small {
  font-size: 16px;
}
.red-line {
}

.footer {
  color:white; 
  background-color:$tieto-blue;  
  min-height: 100 px;
}
.footer a,
.footer a:visited,
.footer a:hover,
.footer a:active {
  color:white;
}

body {
  font-family: 'Baufra-SemiBold', sans-serif;
  letter-spacing: 0.08em;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .main-div,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /*.header {
    margin-bottom: 30px;
  }*/

  /* Remove the bottom border on the jumbotron for visual effect */
  /*.jumbotron {
    border-bottom: 0;
  }*/
}
