/* ROLE PAGE */

#role-page #header-wrapper #header #links #button-back {
    background: url(../images/button-arrow-left.png) 10px 20px no-repeat #6cc04a;

}
#role-page #header-wrapper {
	/*height: 678px;*/
	/*position: relative;*/
	background-color: black;
	color: white;
}
	#role-page #header-wrapper #header {
		padding-top: 260px;
		height: 418px;
		position: relative;
	}

		#role-page #header-wrapper #header #role-icon {
			position: absolute;
			top: 53px;
			left: 0;
		}

		#role-page #header-wrapper #header h1 {
			font-family: "Helvetica Neue Bold";
			font-size: 50px;
			text-transform: uppercase;
			text-align: left;
			height: 50px;
		}

		#role-page #header-wrapper #header h2 {
			font-family: "Helvetica Neue Bold";
			font-size: 75px;
			text-align: left;
			height: 75px;
		}
		#role-page #header-wrapper #header p {
			line-height: 30px;
			font-size: 20px;
			text-align: left;
			padding: 70px 0 43px;
		}

/* CEM */
#roles-page #cem-wrapper #cem {
    padding-bottom: 40px;
    text-align: center;
}

    #roles-page #cem-wrapper #cem h2 {
        margin-top: 120px;
    }

	#role-page #cem-wrapper h3 {
		font-family: "Helvetica Neue Light";
		font-size: 35px;
		height: 250px;
	}


#role-page #cem-wrapper #cem ul { width: 100%; list-style-type: none; margin-top: 0; float: left; margin-bottom: 30px;}

#role-page #cem-wrapper #cem ul li { margin-bottom: 20px;}


/* VIDEO */
#role-page #video-wrapper {
	height: 678px;
	background-color: #000;
}

	#role-page #video-wrapper #video a {
		text-decoration: none;
		color: #6cc04a;
		font-size: 150px;
		text-transform: uppercase;
		font-family: "Helvetica Neue Bold";
		line-height: 205px;
		margin: 0 auto;
		width: 600px;
		display: block;
	}

	#role-page #video-wrapper #video hr {
		width: 365px;
		border: none;
		margin: 0 auto;
		height: 236px;
	}

		#role-page #video-wrapper #video hr.border-bottom {
			border-bottom: 1px solid #6cc04a;
		}

		#role-page #video-wrapper #video hr.border-top {
			border-top: 1px solid #6cc04a;
		}

/* Apply */
#role-page #apply-wrapper {
	height: 750px;
}
	#role-page #apply-wrapper img {
		margin-top: 65px;
	}
	#role-page #apply-wrapper a {
		margin-top: 25px;
		text-transform: uppercase;
		text-decoration: none;
		color: #62b3e5;
		font-size: 50px;
		font-weight: bold;
	}
	#role-page #apply-wrapper h3 {
		margin-top: 65px;
		font-family: "Helvetica Neue Light";
		text-decoration: none;
		color: #62b3e5;
		font-size: 35px;
	}

	#role-page #apply-wrapper p {
		margin-top: 30px;
		font-family: "Helvetica Neue Light";
		text-decoration: none;
		font-size: 22px;
	}



@media screen and (max-width: 1023px) {
	#role-page #header-wrapper { height: auto; float: left; width: 100%;}
	#role-page #header-wrapper #header { height: auto; padding-bottom: 120px;}
	#role-page #header-wrapper #header h1 { font-size: 50px; padding: 0; height: auto;}
	#role-page #header-wrapper #header h2 { font-size: 60px; padding: 0; height: auto;}
	#role-page #header-wrapper #header p { padding: 0; height: auto; margin-bottom: 20px;}
	#role-page #cem-wrapper h3 { height: auto;}
	#role-page #header-wrapper #header #role-icon { left: 20px;}

}


@media screen and (max-width: 767px) {
	
	#role-page #header-wrapper #header h1 { font-size: 40px;}
	#role-page #header-wrapper #header h2 { font-size: 60px;}
	#role-page #header-wrapper #header #role-icon { left: calc(50% - 75px);}
	#role-page #video-wrapper #video a { width: auto; font-size: 70px;}

	
}

@media screen and (max-width: 479px) {
	#role-page #header-wrapper #header h1 { font-size: 24px;}
	#role-page #header-wrapper #header h2 { font-size: 42px;}
	#role-page #header-wrapper #header { height: auto; padding-bottom: 160px;}
	#role-page #header-wrapper #header #role-icon { left: calc(50% - 75px);}
	#role-page #header-wrapper #header p { line-height: normal; padding: 0;}
	#role-page #video-wrapper #video a { width: auto; font-size: 40px;}
	#role-page #video-wrapper #video hr { width: 90%;}

	#role-page #header-wrapper #header #links .buttons li a {  font-size: 18px;}
	
}












