/* ROLE PAGE */
#role-page .section-delimiter { display: none; }
#role-page #header-wrapper #header #links #button-back {
    background: transparent url(../images/button-arrow-left.png) 10px 20px no-repeat;

}
#role-page #header-wrapper {
	background-color: black;
	color: white;
}
.designer.wrapper { background:url("../images/rolepictures/designer.jpg") no-repeat center center; }
.analyst.wrapper { background:url("../images/rolepictures/analyst.jpg") no-repeat center center; }
.architect.wrapper { background:url("../images/rolepictures/Architect.jpg") no-repeat center center; }
.businessConsultant.wrapper { background:url("../images/rolepictures/BusinessConsultant.jpg") no-repeat center center; }
.developer.wrapper { background:url("../images/rolepictures/Developer.jpg") no-repeat center center; }
.projectManager.wrapper { background:url("../images/rolepictures/ProjectManager.jpg") no-repeat center center; }
.salesLead.wrapper { background:url("../images/rolepictures/SalesLead.jpg") no-repeat center center; }
.solutionHead.wrapper { background:url("../images/rolepictures/SolutionHead.jpg") no-repeat center center; }
.technologyConsultant.wrapper { background:url("../images/rolepictures/TechnologyConsultant.jpg") no-repeat center center; }

	#role-page #header-wrapper #header {
		padding-top: 260px;
		height: 418px;
		position: relative;
	}

		#role-page #header-wrapper #header #role-icon {
			position: absolute;
			top: 53px;
			left: 30px;
		}

		#role-page #header-wrapper #header h1 {
			font-family: "Helvetica Neue Bold";
			font-size: 50px;
			text-transform: uppercase;
			text-align: left;
			height: 50px;
		}

		#role-page #header-wrapper #header h2 {
			font-family: "Helvetica Neue Bold";
			font-size: 75px;
			text-align: left;
			height: 75px;
		}
		#role-page #header-wrapper #header p {
			line-height: 30px;
			font-size: 20px;
			text-align: left;
			padding: 70px 0 43px 0;
		}

/* CEM */
#roles-page #cem-wrapper #cem {
    padding-bottom: 40px;
    text-align: left;
}
	#roles-page #cem .container {
		text-align: left;
	}
    #roles-page #cem-wrapper #cem h2 {
        margin-top: 120px;
    }

	#role-page #cem-wrapper h3 {
		font-family: "Helvetica Neue Light";
		font-size: 35px;
		padding-top: 55px;
	}


#role-page #cem-wrapper #cem ul { width: 100%; list-style-type: none; margin-top: 0; float: left; margin-bottom: 30px;}

#role-page #cem-wrapper #cem ul li { margin-bottom: 20px; text-align: left; }


/* VIDEO */
.flowplayer {
	margin-top: 45px;
}
/* Apply */
#role-page #apply-wrapper {
	min-height: 650px;
}
	#role-page #apply-wrapper img {
		margin-top: 65px;
	}
	#role-page #apply-wrapper a {
		margin-top: 25px;
		text-transform: uppercase;
		text-decoration: none;
		color: #62b3e5;
		font-size: 50px;
		font-weight: bold;
	}
	#role-page #apply-wrapper h3 {
		margin-top: 65px;
		font-family: "Helvetica Neue Light";
		text-decoration: none;
		color: #62b3e5;
		font-size: 35px;
	}

	#role-page #apply-wrapper p {
		margin-top: 30px;
		font-family: "Helvetica Neue Light";
		text-decoration: none;
		font-size: 22px;
	}

 	.contact-name {
		font-family: "Helvetica Neue Bold";
 	}

@media screen and (max-width: 1023px) {

	#role-page #header-wrapper { height: auto; float: left; width: 100%;}
	#role-page #header-wrapper #header { height: auto; padding-bottom: 120px;}
	#role-page #header-wrapper #header h1 { font-size: 50px; padding: 0; height: auto;}
	#role-page #header-wrapper #header h2 { font-size: 60px; padding: 0; height: auto;}
	#role-page #header-wrapper #header p { padding: 0; height: auto; margin-bottom: 20px;}
	/*#role-page #cem-wrapper h3 { height: auto;}*/
	#role-page #header-wrapper #header #role-icon { left: 20px;}

}


@media screen and (max-width: 767px) {

    #role-page { max-width: 100%; width: 100%; }
	#role-page #header-wrapper #header h1 { font-size: 40px;}
	#role-page #header-wrapper #header h2 { font-size: 60px;}
}

@media screen and (max-width: 479px) {
    
    #role-page { max-width: 100%; width: 100%; }
	#role-page #header-wrapper #header h1 { font-size: 24px;}
	#role-page #header-wrapper #header h2 { font-size: 42px;}
	#role-page #header-wrapper #header { height: auto; padding-bottom: 160px;}
	#role-page #header-wrapper #header p { line-height: normal; padding: 0;}

	#role-page #header-wrapper #header #links .buttons li a {  font-size: 18px;}

	#role-page #cem-wrapper h3.section-slogan { font-size:22px;}
	#role-page #apply h3 { font-size:22px;}
	
}











