/* ROLE PAGE */
#role-page .section-delimiter { display: none; }
#role-page #header-wrapper #header #links #button-back {
    background: transparent url(../images/button-arrow-left.png) 10px 20px no-repeat;

}
#role-page #header-wrapper {
	background-color: black;
	color: white;
}
.designer.wrapper { background:url("../images/RolePictures/designer.jpg") no-repeat center center; }
.analyst.wrapper { background:url("../images/RolePictures/analyst.jpg") no-repeat center center; }
.architect.wrapper { background:url("../images/RolePictures/Architect.jpg") no-repeat center center; }
.businessConsultant.wrapper { background:url("../images/RolePictures/businessConsultant.jpg") no-repeat center center; }
.developer.wrapper { background:url("../images/RolePictures/Developer.jpg") no-repeat center center; }
.projectManager.wrapper { background:url("../images/RolePictures/ProjectManager.jpg") no-repeat center center; }
.salesLead.wrapper { background:url("../images/RolePictures/SalesLead.jpg") no-repeat center center; }
.solutionHead.wrapper { background:url("../images/RolePictures/SolutionHead.jpg") no-repeat center center; }
.technologyConsultant.wrapper { background:url("../images/RolePictures/TechnologyConsultant.jpg") no-repeat center center; }

	#role-page #header {
		text-align: left;
		padding-top: 230px;
		height: 418px;
		position: relative;
		overflow: hidden;
	}
		#role-page #role-icon {
			position: absolute;
			top: 83px;
			left: 53px;
			width: 90px;
		}

		#role-page #header-wrapper #header h1 {
			font-family: "Helvetica Neue Bold";
			font-size: 50px;
			text-transform: uppercase;
		}

		#role-page #header-wrapper #header h2 {
			font-family: "Helvetica Neue Bold";
			font-size: 75px;
		}
		#role-page #header-wrapper #header p {
			margin-top: 20px;
			line-height: 30px;
			font-size: 20px;
		}

		#role-page #header a {
			text-align: center;
		}
/* CEM */
#role-page #cem {
	text-align: left;
}
    #roles-page #cem-wrapper #cem h2 {
        margin-top: 120px;
    }

	#role-page #cem-wrapper h3 {
		font-family: "Helvetica Neue Light";
		font-size: 35px;
		padding-top: 55px;
	}

#role-page #cem-wrapper #cem ul { 
	width: 100%;
	margin-top: 0; 
	float: left; 
	margin-bottom: 30px;
}

#role-page #cem-wrapper #cem ul li { 
	margin-bottom: 20px; 
	margin-left: 0px;
	text-align: left; 
	list-style: none;
	padding-left: 3em;
	text-indent: 0em;
	background: url(../images/dash24.png) 0px 0px no-repeat; 
	background-size: 18px;
}
/*#role-page #cem-wrapper #cem ul li:before { content:"\2013  "; }*/

/* VIDEO */
.flowplayer {
	margin-top: 45px;
}
/* Apply */
#role-page #apply-wrapper {
	min-height: 650px;
}
	#role-page #apply-wrapper img {
		margin-top: 65px;
	}
	#role-page #apply-wrapper a {
		margin-top: 25px;
		text-transform: uppercase;
		text-decoration: none;
		color: #62b3e5;
		font-size: 50px;
		font-weight: bold;
	}
	#role-page #apply-wrapper h3 {
		margin-top: 65px;
		font-family: "Helvetica Neue Light";
		text-decoration: none;
		color: #62b3e5;
		font-size: 35px;
	}

	#role-page #apply-wrapper p {
		margin-top: 30px;
		font-family: "Helvetica Neue Light";
		text-decoration: none;
		font-size: 22px;
	}

 	.contact-name {
		font-family: "Helvetica Neue Bold";
 	}

@media screen and (max-width: 1023px) {

	#role-page #header-wrapper { height: auto; float: left; width: 100%;}
	#role-page #header-wrapper #header { height: auto; padding-bottom: 120px;}
	#role-page #header-wrapper #header h1 { font-size: 50px; padding: 0; height: auto;}
	#role-page #header-wrapper #header h2 { font-size: 60px; padding: 0; height: auto;}
	#role-page #header-wrapper #header p { padding: 0; height: auto; margin-bottom: 20px;}
	/*#role-page #cem-wrapper h3 { height: auto;}*/

}


@media screen and (max-width: 767px) {

    #role-page { max-width: 100%; width: 100%; }
	#role-page #header-wrapper #header h1 { font-size: 30px;}
	#role-page #header-wrapper #header h2 { font-size: 60px;}
	#role-page #role-icon { left: 38px;}
}

@media screen and (max-width: 479px) {
    
    #role-page { max-width: 100%; width: 100%; }
	#role-page #header-wrapper #header h1 { font-size: 20px;}
	#role-page #header-wrapper #header h2 { font-size: 38px;}
	#role-page #header-wrapper #header { height: auto; padding-bottom: 160px;}
	#role-page #header-wrapper #header p { font-size: 17px; line-height: normal; padding: 0;}

	#role-page #header-wrapper #header #links .buttons li a {  font-size: 18px;}

	#role-page #cem-wrapper h3.section-slogan { font-size:22px;}
	#role-page #apply h3 { font-size:22px;}
	#role-page #role-icon { left: 27px;}

}











